/* disable focus/selecting */
input:focus, textarea:focus, select:focus, button:focus {
    outline: none;
}

/* entire screen */
html, body {
    overflow: hidden;
    background-color: #000000;
    color: white;
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
}
canvas {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

/* title */
#title {
    text-align: center;
    margin-bottom: 10vh;
}
#titleText{
    display: inline;
    font-size: 3em;
    margin: 0;
    padding: 0;
    line-height: 0;
    font-weight: 300;
    user-select: none;
}
#titleSubtext{
    float: right;
    font-size: 0.54em;
    line-height: 0;
    font-weight: 300;
    user-select: none;
}

/* menu and inputs */
#menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;

    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}
.tooltip {
    visibility: hidden;
    position: absolute;
    z-index: 100;
    width: 200px;
    color: white;
    font-size: 12px;
    background-color: rgba(50, 50, 50, 0.6);
    border-radius: 10px;
    padding: 10px 15px 10px 15px;
}
.tooltipL {
    translate: -5vw 0;
}
.tooltipR {
    translate: 5vw 0;
}
.text:hover .tooltip {
    visibility: visible;
}
.text {
    width: 10vw;
}
#randomX, #randomY {
    width: 3vh;
    height: 3vh;
    background: url('assets/random_button.svg');
    background-size: contain;
    cursor: pointer;
    padding: 0;
    margin: 0;
    margin-right: 1em;
    border: none;
}
#randomPreset {
    background: none;
    border: none;
    color: white;
    font-size: 1em;
    cursor: pointer;
    text-decoration: underline;
    text-decoration-color: white;
    font-weight: 100;
    font-size: 0.7em;
}
#begin {
    background: none;
    border: 1px solid white;
    border-radius: 15px;
    font-size: 1.5em;
    font-weight: 100;
    cursor: pointer;

    box-shadow: inset 0 0 0 0 #fff;
    color: #fff;
    margin: 0 -.5rem;
    padding: 0.5rem 1rem;
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
#begin:hover {
    box-shadow: inset 0 0 0 300px #fff;
    color: #000;
}
#helpPage {
    width: 2em;
    height: 2em;
    background: url('assets/help_button.svg');
    background-size: contain;
    filter: invert();
    cursor: pointer;
    padding: 0;
    margin: 0;
    border: none;
}
#code {
    border: none;
    border-bottom: 1px solid white;
    background: none;
    color: white;
    font-size: 0.8em;
    font-weight: 100;
    margin: 0;
    padding-bottom: 0.2vh;
}
#code::-webkit-input-placeholder {
    text-align: center;

}

/* table */
#mainTable {
    border-collapse: collapse;
}
.inputBox {
    height: 4vh;
    width: 8vw;
    padding: 0;
    margin: 0;
    background: none;
    color: white;
    border: 1px solid white;
    padding-left: 5px;
    box-sizing: border-box;
}
.tableTextL {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    background-color: white;
    color: black;
    height: 4vh;
    width: 7em;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: right;
    padding-right: 0.3em;
    align-items: center;
    font-size: 0.7em;
    transform: translateX(0.2vw);
}
.tableInputL {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right: 1vw;
}
.tableInputR {
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    margin-left: 1vw;
}
.tableTextR {
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    background-color: white;
    color: black;
    height: 4vh;
    width: 7em;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: left;
    padding-left: 0.3em;
    align-items: center;
    font-size: 0.7em;
    transform: translateX(-0.2vw);

}

/* under table */
#underTable {
    margin-top: 1vh;
    margin-bottom: 10vh;

    display: flex;
    flex-direction: row;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    margin: 0;
}

/* bottom of screen */
#stats {
    position: absolute;
    bottom: 1vh;
    left: 1vw;
    line-height: 0.5;
    font-size: 0.8em;
    font-weight: 300;
}
#stop {
    position: absolute;
    bottom: 1vh;
    right: 1vh;
    width: 6vh;
    height: 6vh;
    background: url('assets/stop_button.svg');
    background-size: contain;
    border: none;
    filter: invert();
    cursor: pointer;
}